a:link, a:visited { 
  color: #FFFAFA;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active { 
  color: #FFFAFA;
}
body {
  margin: 25px;
  background-color: #191970;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #FFFAFA;
}