a:link, a:visited { 
  color: #FFFAFA;
  text-decoration: underline;
  cursor: pointer;
}

a:link:active, a:visited:active { 
  color: #FFFAFA;
}
body {
  margin: 25px;
  background-color: rgb(60, 60, 60);
  font-family: arial;
  font-size: 14px;
  color: #FFFAFA;
}