<!DOCTYPE html>
<html lang="en">
<head>
<style>
  body {
  margin: 25px;
  background-color: rgb(60, 60, 60);
  font-family: arial;
  font-size: 14px;
  color: #FFFAFA;
}
a:link, a:visited { 
  color: #FFFAFA;
  text-decoration: underline;
  cursor: pointer;
}

a:link:active, a:visited:active { 
  color: #FFFAFA;
}
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
thead {color: black;}
tbody {color: gray;}
</style>
</head>
  <body>	
  <header>
  <h6 align="right" font-style="italic" font-size="10px"> 
  Created by {{ site.name }} for markdown training.
  </h6>
  </header>
	<main>
      <div>
        {{ content }}
      </div>
    </main>	
	<footer>
	{% include footer.md %}	
	</footer>
  </body>
</html>
